<!doctype html>
<html lang="et">
    <head>
        <meta charset="utf-8">
        <title>isikukoodi validaator</title>
    </head>
    <body>

        <form action="/validate" method="POST">
            <div>
                <label>Sisesta isikukood</label>
                <br>
                <input type="text" placeholder="iskukood" min=1 max=99999999999 name='idcode' id='idcode'>
                <button type="submit">Saada päring</button> 
            </div>
        </form>
    </body>
</html>